* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board-container {
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding: 1%;
    background-color: lightgray;
}

.board {
    display: flex;
    width: 320px;
    height: 320px;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: aquamarine;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.selected { 
    background-color: red;
}

.filled {
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}